[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "REPLesentR"]
	path = REPLesentR
	url = https://github.com/wahani/replesentr
[submodule "aoos"]
	path = aoos
	url = https://github.com/wahani/aoos
[submodule "dat"]
	path = dat
	url = https://github.com/wahani/dat
[submodule "modules"]
	path = modules
	url = https://github.com/wahani/modules
[submodule "saeRobust"]
	path = saeRobust
	url = https://github.com/wahani/saerobust
[submodule "saeSim"]
	path = saeSim
	url = https://github.com/wahani/saesim
[submodule "templates"]
	path = templates
	url = https://github.com/wahani/templates
